body{
    padding-top: 40px;
}
.carousel {
    margin-bottom: 40px; margin-top: 50px;
}
.carousel-caption {
    z-index: 10;
}
@media (max-width: 992px) {
    .carousel-inner p {font-size: 14px; }
    .carousel-inner h1 {font-size: 26px; }
    .featurette {margin-top: -25px;}
}
@media (max-width: 768px) {
    .carousel-inner p {font-size: 12px; }
    .carousel-inner h1 {font-size: 22px; }
    .featurette {margin-top: -35px;}
}
@media (max-width: 500px){
    .carousel-inner p {display: none;}
    .carousel-inner h1 {font-size: 12px;}
    .featurette {margin-top: -40px;}
}
.marketing .col-sm-4 {
    text-align: center;
} 
.breadcrumb {
    /* Aumentiamo il margine superiore e diminuiamo il margine inferiore */
    margin-top: 50px; margin-bottom: -15px;
}
.panel-body > h1, h2, h3, h4, h5 {
    display: inline;
}
footer{
    text-align: center;
}
img.bandiera{
    height: 16px;
}