.carousel {
    margin-bottom: 40px; margin-top: 50px;
}
.carousel-caption {
    z-index: 10;
}

.marketing .col-sm-4 {
    text-align: center;
} 

.panel-body > h1, h2, h3, h4, h5 {
    display: inline;
}
.img_lingua {
    max-height: 30px; max-width: 30px;
}
.breadcrumb {
    margin-top: 50px; margin-bottom: -15px;
}
.my_footer {
    background-color: #D6C59A;
}
.container_img {
    max-width: 100px; max-height: 100px;
    float: right;
}
.container_img2 {
    max-width: 50%; max-height: 50%;
    float: right;
}