body{
    margin-top: 62px;
}

.carousel {
    margin-bottom: 40px; margin-top: 50px;
}
.carousel-caption {
    z-index: 10;
}
@media (max-width: 992px) {
    .carousel-inner p {font-size: 14px; }
    .carousel-inner h1 {font-size: 26px; }
    .featurette {margin-top: -25px;}
}
@media (max-width: 768px) {
    .carousel-inner p {font-size: 12px; }
    .carousel-inner h1 {font-size: 22px; }
    .featurette {margin-top: -35px;}
}
@media (max-width: 500px){
    .carousel-inner p {display: none;}
    .carousel-inner h1 {font-size: 12px;}
    .featurette {margin-top: -40px;}
}
.marketing .col-sm-4 {
    text-align: center;
} 

.panel-body > h1, h2, h3, h4, h5 {
    display: inline;
}
.img_lingua {
    max-height: 30px; max-width: 30px;
}
.breadcrumb {
    /* Aumentiamo il margine superiore e diminuiamo il margine inferiore */
    margin-top: 50px; margin-bottom: -15px;
}
.my_footer {
    background-color: #D6C59A;
}
.container_img {
    max-width: 100px; max-height: 100px;
    float: right;
}
.container_img2 {
    max-width: 50%; max-height: 50%;
    float: right;
}

div.bandiera{
    display: inline;
}
div.bandiera img{
    height: 22px;
    margin-top: 15px;
}

#ricerca{
}
#ricerca.form-control{
    size:15em;
}
/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

@media (max-width: 767px){
    div.bandiera img{
        margin-top: -10px;
  
    }
    div.bandiera br{
        display: none;
    }

}
.navbar-left{
    margin-left: 0px;
    margin-right: 0px;

}
.navbar{
    color:#888;
}
